<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <input type="text" #todoItem name="todoItem" id="todoItem" class="form-control">
            <label for="todoItem"></label>
        </div>
        <button (click)="ontodoAdd()" class="btn btn-info-primary btn-dark btn-block" type="button">Add TODO</button>
    </div>
    <div class="col-md-6">
        <ul *ngIf="todoArray.length > 0;else notodo" class="list-group">
            <li *ngFor="let todo of todoArray" class="list-group-item">{{todo.todoItem}}</li>
        </ul>

        <ng-template #notodo>
            <p class="alert alert-danger">no todoitems added yet!!!!!</p>
        </ng-template>
    </div>
</div>